{% extends 'base.html' %}

{% block title %} | Services {% endblock %}
{% block content %}

<!-- Sub banner start -->
<!-- Log on to codeastro.com for more projects -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Accessories</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Accessories</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Services start -->



<div class="services content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Car <span>Accessories</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 ">
                <div class="service-info">

                    <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; margin: 0 auto;">
                            <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; text-align: center;">
                            <img src="/static/img/images.jpg" alt="Image Description" style="width: 300px; height: 200px;" />

                            <p class="accessory-title">Portronics</p>
                            <p style="font-weight: bold;">₹19.99</p>
                            <button style=" cursor: pointer;" class="btn btn-danger bomd btn-block btn-lg" >
                                <a href="https://www.amazon.in/Portronics-Charger-Charging-Compatible-Generation/dp/B0C5QZZHP7/ref=sr_1_6?crid=1E8S83VF899UC&keywords=car+accessories&qid=1699382424&sprefix=car%2Caps%2C210&sr=8-6" style="color:white;" target="_blank">Buy Now</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">

                   <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; margin: 0 auto;">
                            <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; text-align: center;">
                            <img src="/static/img/22.jpg" alt="Image Description" style="width: 300px; height: 200px;" />

                            <p class="accessory-title">Portronics</p>
                            <p style="font-weight: bold;">₹19.99</p>
                            <button style=" cursor: pointer;" class="btn btn-danger bomd btn-block btn-lg" >
                                <a href="https://www.amazon.in/Portronics-Adjustable-Rotational-Suction-Compatible/dp/B0B6HM36Z8/ref=sr_1_7?crid=3W20OA5VSHZ5O&keywords=car+accessories&qid=1699384133&sprefix=car+accessories%2Caps%2C206&sr=8-7" style="color:white;" target="_blank">Buy Now</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">

                    <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; margin: 0 auto;">
                            <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; text-align: center;">
                            <img src="/static/img/33.jpg" alt="Image Description" style="width: 300px; height: 200px;" />

                            <p class="accessory-title">Portronics</p>
                            <p style="font-weight: bold;">₹19.99</p>
                            <button style=" cursor: pointer;" class="btn btn-danger bomd btn-block btn-lg" >
                                <a href="https://www.amazon.in/VARNIRAJ-EXPORT-LOGO-Inflatabale-Availability/dp/B07D8TZN9M/ref=sr_1_38?crid=3W20OA5VSHZ5O&keywords=car+accessories&qid=1699384133&sprefix=car+accessories%2Caps%2C206&sr=8-38" style="color:white;" target="_blank">Buy Now</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                 <div class="service-info">
                    <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; margin: 0 auto;">
                            <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; text-align: center;">
                            <img src="/static/img/44.jpg" alt="Image Description" style="width: 300px; height: 200px;" />

                            <p class="accessory-title">Portronics</p>
                            <p style="font-weight: bold;">₹19.99</p>
                            <button style=" cursor: pointer;" class="btn btn-danger bomd btn-block btn-lg" >
                                <a href="https://www.amazon.in/Godrej-aer-Hanging-Freshener-Accessories/dp/B0CCXZ8NXN/ref=sr_1_27?crid=3W20OA5VSHZ5O&keywords=car+accessories&qid=1699384133&sprefix=car+accessories%2Caps%2C206&sr=8-27" style="color:white;" target="_blank">Buy Now</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">

                   <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; margin: 0 auto;">
                            <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; text-align: center;">
                            <img src="/static/img/55.jpg" alt="Image Description" style="width: 300px; height: 200px;" />

                            <p class="accessory-title">Portronics</p>
                            <p style="font-weight: bold;">₹19.99</p>
                            <button style=" cursor: pointer;" class="btn btn-danger bomd btn-block btn-lg" >
                                <a href="https://www.amazon.in/HSR-Tissue-Holder-Leather-Backseat/dp/B0B4G5GNBL/ref=sr_1_28?crid=3W20OA5VSHZ5O&keywords=car%2Baccessories&qid=1699384133&sprefix=car%2Baccessories%2Caps%2C206&sr=8-28&th=1" style="color:white;" target="_blank">Buy Now</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                 <div class="service-info">

                    <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; margin: 0 auto;">
                            <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; text-align: center;">
                            <img src="/static/img/66.jpg" alt="Image Description" style="width: 300px; height: 200px;" />

                            <p class="accessory-title">Portronics</p>
                            <p style="font-weight: bold;">₹19.99</p>
                            <button style=" cursor: pointer;" class="btn btn-danger bomd btn-block btn-lg" >
                                <a href="https://www.amazon.in/AutoBizarre-Solar-Black-Crystal-Freshener/dp/B097K91WTX/ref=sr_1_29?crid=3W20OA5VSHZ5O&keywords=car%2Baccessories&qid=1699384133&sprefix=car%2Baccessories%2Caps%2C206&sr=8-29&th=1" style="color:white;" target="_blank">Buy Now</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                            <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; margin: 0 auto;">
                            <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; text-align: center;">
                            <img src="/static/img/88.jpg" alt="Image Description" style="width: 300px; height: 200px;" />

                            <p class="accessory-title">Portronics</p>
                            <p style="font-weight: bold;">₹19.99</p>
                            <button style=" cursor: pointer;" class="btn btn-danger bomd btn-block btn-lg" >
                                <a href="https://www.amazon.in/3M-IA260166359-Auto-Specialty-Dashboard/dp/B00S5SAVQW/ref=sr_1_31?crid=3W20OA5VSHZ5O&keywords=car+accessories&qid=1699384133&sprefix=car+accessories%2Caps%2C206&sr=8-31" style="color:white;" target="_blank">Buy Now</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">

                    <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; margin: 0 auto;">
                            <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; text-align: center;">
                            <img src="/static/img/77.jpg" alt="Image Description" style="width: 300px; height: 200px;" />

                            <p class="accessory-title">Portronics</p>
                            <p style="font-weight: bold;">₹19.99</p>
                            <button style=" cursor: pointer;" class="btn btn-danger bomd btn-block btn-lg" >
                                <a href="https://www.amazon.in/HUMBLE-Dashboard-Rotating-Anti-Slip-Cellphone/dp/B093DTRS4K/ref=sr_1_30?crid=3W20OA5VSHZ5O&keywords=car+accessories&qid=1699384133&sprefix=car+accessories%2Caps%2C206&sr=8-30" style="color:white;" target="_blank">Buy Now</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                 <div class="service-info">

                    <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; margin: 0 auto;">
                            <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; text-align: center;">
                            <img src="/static/img/99.jpg" alt="Image Description" style="width: 300px; height: 200px;" />

                            <p class="accessory-title">Portronics</p>
                            <p style="font-weight: bold;">₹19.99</p>
                            <button style=" cursor: pointer;" class="btn btn-danger bomd btn-block btn-lg" >
                                <a href="https://www.amazon.in/Conditioner-Decoration-Universal-Waterproof-Accessories/dp/B09JFHQWHP/ref=sr_1_33?crid=3W20OA5VSHZ5O&keywords=car%2Baccessories&qid=1699384133&sprefix=car%2Baccessories%2Caps%2C206&sr=8-33&th=1" style="color:white;" target="_blank">Buy Now</a></button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                 <div class="service-info">

                    <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; margin: 0 auto;">
                            <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; text-align: center;">
                            <img src="/static/img/1.jpg" alt="Image Description" style="width: 300px; height: 200px;" />

                            <p class="accessory-title">Portronics</p>
                            <p style="font-weight: bold;">₹19.99</p>
                            <button style=" cursor: pointer;" class="btn btn-danger bomd btn-block btn-lg" >
                                <a href="https://www.amazon.in/Bergmann-Typhoon-Tyre-Inflator-Blue/dp/B06XW683G2/ref=sr_1_46?crid=3W20OA5VSHZ5O&keywords=car+accessories&qid=1699384133&sprefix=car+accessories%2Caps%2C206&sr=8-46" style="color:white;" target="_blank">Buy Now</a></button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                 <div class="service-info">

                    <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; margin: 0 auto;">
                            <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; text-align: center;">
                            <img src="/static/img/101.jpg" alt="Image Description" style="width: 300px; height: 200px;" />

                            <p class="accessory-title">Portronics</p>
                            <p style="font-weight: bold;">₹19.99</p>
                            <button style=" cursor: pointer;" class="btn btn-danger bomd btn-block btn-lg" >
                                <a href="https://www.amazon.in/Perisafe-Essential-Accessible-friendly-Chemical/dp/B0BFB6JDJ8/ref=sr_1_47?crid=3W20OA5VSHZ5O&keywords=car+accessories&qid=1699384133&sprefix=car+accessories%2Caps%2C206&sr=8-47" style="color:white;" target="_blank">Buy Now</a></button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                 <div class="service-info">

                    <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; margin: 0 auto;">
                            <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; text-align: center;">
                            <img src="/static/img/3.jpg" alt="Image Description" style="width: 300px; height: 200px;" />

                            <p class="accessory-title">Portronics</p>
                            <p style="font-weight: bold;">₹19.99</p>
                            <button style=" cursor: pointer;" class="btn btn-danger bomd btn-block btn-lg" >
                                <a href="https://www.amazon.in/ZHUQUA-Dent-Removal-Kit-Powerful/dp/B0CLJ81HX8/ref=sr_1_49_sspa?crid=3W20OA5VSHZ5O&keywords=car%2Baccessories&qid=1699385614&sprefix=car%2Baccessories%2Caps%2C206&sr=8-49-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGZfbmV4dA&th=1" style="color:white;" target="_blank">Buy Now</a></button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; margin: 0 auto;">
                            <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; text-align: center;">
                            <img src="/static/img/4.jpg" alt="Image Description" style="width: 300px; height: 200px;" />

                            <p class="accessory-title">Portronics</p>
                            <p style="font-weight: bold;">₹19.99</p>
                            <button style=" cursor: pointer;" class="btn btn-danger bomd btn-block btn-lg" >
                                <a href="https://www.amazon.in/dp/B0C5HYCQ63/ref=sspa_dk_detail_5?psc=1&pd_rd_i=B0C5HYCQ63&pd_rd_w=5ezoA&content-id=amzn1.sym.dcd65529-2e56-4c74-bf19-15db07b4a1fc&pf_rd_p=dcd65529-2e56-4c74-bf19-15db07b4a1fc&pf_rd_r=24K96ADB2MAWPQ3WN8DP&pd_rd_wg=kKcKh&pd_rd_r=523ff9f2-35ff-4880-95ab-bce037fbb827&sp_csd=d2lkZ2V0TmFtZT1zcF9kZXRhaWxfdGhlbWF0aWM&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFRNUo5TklCSjNXN0YmZW5jcnlwdGVkSWQ9QTAzNDU2MzExNFJZUUhTQUpVTVhLJmVuY3J5cHRlZEFkSWQ9QTAzNDU5MTkzNk1FRVNHSEJOQjJKJndpZGdldE5hbWU9c3BfZGV0YWlsX3RoZW1hdGljJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==" style="color:white;" target="_blank">Buy Now</a></button>
                        </div>
                    </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                 <div class="service-info">

                   <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; margin: 0 auto;">
                            <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; text-align: center;">
                            <img src="/static/img/5.jpg" alt="Image Description" style="width: 300px; height: 200px;" />

                            <p class="accessory-title">Portronics</p>
                            <p style="font-weight: bold;">₹19.99</p>
                            <button style=" cursor: pointer;" class="btn btn-danger bomd btn-block btn-lg" >
                                <a href="https://www.amazon.in/dp/B0C5DPSQLL/ref=sspa_dk_detail_0?pd_rd_i=B0C5DPSQLL&pd_rd_w=C3516&content-id=amzn1.sym.dcd65529-2e56-4c74-bf19-15db07b4a1fc&pf_rd_p=dcd65529-2e56-4c74-bf19-15db07b4a1fc&pf_rd_r=30DC4W5SK64ZQYBRPZNC&pd_rd_wg=GNyCg&pd_rd_r=4194fe54-9866-4d78-b252-a23c213dc8d8&sp_csd=d2lkZ2V0TmFtZT1zcF9kZXRhaWxfdGhlbWF0aWM&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFVWjJBTDI3R1BWWFEmZW5jcnlwdGVkSWQ9QTA3MDU0ODIzTERFMzBaN0EzTTdKJmVuY3J5cHRlZEFkSWQ9QTA0NDAyNjYyMkdUMlk0N1c5NTlGJndpZGdldE5hbWU9c3BfZGV0YWlsX3RoZW1hdGljJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ&th=1" style="color:white;" target="_blank">Buy Now</a></button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                 <div class="service-info">

                    <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; margin: 0 auto;">
                            <div class="car-accessory" style=" padding: 0px; margin: 0px; display: inline-block; width: 300px; text-align: center;">
                            <img src="/static/img/45.jpg" alt="Image Description" style="width: 300px; height: 200px;" />

                            <p class="accessory-title">Portronics</p>
                            <p style="font-weight: bold;">₹19.99</p>
                            <button style=" cursor: pointer;" class="btn btn-danger bomd btn-block btn-lg" >
                                <a href="https://www.amazon.in/dp/B093YTGWLD/ref=sspa_dk_detail_0?psc=1&pf_rd_p=dcd65529-2e56-4c74-bf19-15db07b4a1fc&pf_rd_r=TRDV7WQ30H57JW1THZTP&pd_rd_wg=r52XD&pd_rd_w=ET76y&content-id=amzn1.sym.dcd65529-2e56-4c74-bf19-15db07b4a1fc&pd_rd_r=d4b33574-581f-4c09-8f24-ac2002c26bad&sp_csd=d2lkZ2V0TmFtZT1zcF9kZXRhaWxfdGhlbWF0aWM&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzQllISE9JRklPSlMyJmVuY3J5cHRlZElkPUEwMzU0MDQ5MlVQVDEzMENTM0tCUCZlbmNyeXB0ZWRBZElkPUEwODQ3MDY3NFVIM0FDVkoyWVlYJndpZGdldE5hbWU9c3BfZGV0YWlsX3RoZW1hdGljJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==" style="color:white;" target="_blank">Buy Now</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services end -->

<!-- Service center strat -->
<div class="service-center content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="inside-car service-car">
                    <iframe src="https://www.youtube.com/embed/kNxQhYZAjbo?si=G32isFp9nvJIDPE1" " allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Our Quality  <span>Accessories Video</span></h3>
                    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could</p>
                    <p class="mb-0">morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see himself transformed in his bed</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Log on to codeastro.com for more projects -->
<!-- Service center end -->

{% endblock %}